<style type="text/css">
  .diyBody {background: none repeat scroll 0 0 #FFFFFF;}
</style>

<div id="feedlistbox" class="nothing nothingSound not-find">
  <div class="warp">
    <!--404 start-->
    <div class="not-find-con"> <strong>啊呀呀!您访问的“标签/专辑/声音”由于含有非法内容已被屏蔽。</strong>
      <p>
        如有疑问，请联系
        <a href="javascript:;" class="fk_btn">喜马拉雅</a>
      </p>
      <div class="search_404">
      </div>
    </div>
    <!--404 end-->
  </div>
</div>
